{% load i18n %}
<section id="why-us" class="why-us-section">
    <div class="container">
        <h2>{% trans "Почему стоит выбрать нас?" %}</h2>
        <div class="advantages-grid">
            <div class="advantage-card">
                <h3>{% trans "Индивидуальный подход" %}</h3>
                <p class="text-center">{% trans "why_us_p1" %}</p>
            </div>
            <div class="advantage-card">
                <h3>{% trans "Экспертиза и опыт" %}</h3>
                <p class="text-center">{% trans "why_us_p2" %}</p>
            </div>
            <div class="advantage-card">
                <h3>{% trans "Комплексные решения" %}</h3>
                <p class="text-center">{% trans "why_us_p3" %}</p>
            </div>
            <div class="advantage-card">
                <h3>{% trans "Прозрачность и поддержка" %}</h3>
                <p class="text-center">{% trans "why_us_p4" %}</p>
            </div>
        </div>
    </div>
</section>
