{% extends 'app_home/base.html' %}
{% load i18n %}

{% block title %}{{ service.name }} - {% trans "WebCraft Studio" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="service-detail">
        <h2>{{ service.name }}</h2>
        <div class="service-info">
            <p class="service-description">{{ service.description }}</p>
            <div class="service-price">
                <span class="price">{{ service.price }} $</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
